{#
  Inspired by the Rails URLHelper link_to_if. Wrapped the block with a link if the condition is met.
  I often use this to link to a bio profile if the bio has text, otherwise you might just want to show the text.

  {% import _self as macro %}
  <h2>{{ macro.link_to_if(profile.body, profile.url, profile.title) }}</h2>

  If profile.body has length it returns the same as =>
    <h2><a href="{{ profile.url }}">{{ profile.title }}</a></h2>

  If it's empty =>
    <h2>{{ profile.title }}</h2>
#}

{% macro link_to_if(condition, linkto, block, classes) %}
  {% set classes = classes|default() %}
  {%- if condition %}<a href="{{ linkto }}" {% if classes %}class="{{ classes }}"{% endif %}>{% endif -%}
    {{ block }}
  {%- if condition %}</a>{% endif -%}
{% endmacro %}
